<a href="/ideas/add" class="btn btn-dark mb-2">Add Idea</a>
{{#each ideas}}
 <div class="card card-body mb-2">
     <h4>{{title}}</h4>
     <p>{{details}}</p>
     <a class="btn btn-dark" href="/ideas/edit/{{id}}">Edit</a>
     <form method="POST" action="/ideas/{{id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-block mt-2" value="Delete">
     </form>
 </div>
{{else}}
<h4>Welcome, {{user.username}}</h4>
   <p>No Post Ideas listed yet</p>
   <a href="/ideas/add" class="btn btn-success">Add Idea</a>
{{/each}}